<div class="container mt-5">
  <div class="row mb-3">
    <div class="col">
      <h1>Upcoming trips:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <hr>

      <form [formGroup]="form" class="form-inline mb-3">
        <div class="mr-auto">
          <a [href]="urlRoot + '/trips/month'" class="btn btn-dark">Plan for the next month (PDF)</a>
        </div>
        <label class="sr-only" for="search">Search</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Search</div>
          </div>
          <input id="search" type="text" class="form-control" formControlName="q">
        </div>
      </form>

      <app-loading [loading]="loading">

        <app-trips-list [trips]="futureTrips"></app-trips-list>

        <app-pagination [response]="response" [additionalQuery]="query"></app-pagination>

      </app-loading>
    </div>
    <div class="col-12 col-lg-4">
      <h3>Create a new trip plan:</h3>
      <app-create-trips-form></app-create-trips-form>
      <div *ngIf="pastTrips.length">
        <h3 class="my-4">Past trips:</h3>
        <app-trips-list [trips]="pastTrips" [size]="'small'"></app-trips-list>
      </div>
    </div>
  </div>
</div>
