<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Name:
      <input type="text" [class]="getClass('name')" formControlName="name" required appAutoFocus>
    </label>
  </div>
  <div class="form-group">
    <label>
      Email:
      <input type="email" [class]="getClass('email')" formControlName="email" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Role:
      <select [class]="getClass('role')" formControlName="role" required>
        <option value="user" selected>User</option>
        <option value="manager">Manager</option>
        <option value="admin">Admin</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label>
      Password:
      <input type="password" [class]="getClass('password')" formControlName="password" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Password (confirmation):
      <input type="password" [class]="getClass('password_confirmation')" formControlName="password_confirmation"
        required>
    </label>
  </div>
  <div *ngIf="errors.length" class="alert alert-danger" @expandYAnimation>
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>
  <div *ngIf="successMessage" class="alert alert-success" @expandYAnimation>
    {{ successMessage }}
  </div>
  <div class="form-group">
    <button [disabled]="shouldDisable" class="btn btn-block btn-dark">
      <app-loading [loading]="loading" [large]="false">
        Create
      </app-loading>
    </button>
  </div>
</form>
