<h3>Change password:</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Your password:
      <input type="password" [class]="getClass('your_password')" formControlName="your_password" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      New password:
      <input type="password" [class]="getClass('password')" formControlName="password" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      New password (confirmation):
      <input type="password" [class]="getClass('password_confirmation')" formControlName="password_confirmation" required>
    </label>
  </div>
  <div *ngIf="errors.length" class="alert alert-danger" @expandYAnimation>
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>
  <div *ngIf="successMessage" class="alert alert-success" @expandYAnimation>
    {{ successMessage }}
  </div>
  <div class="form-group">
    <button [disabled]="shouldDisable" class="btn btn-block btn-dark">
      <app-loading [loading]="loading" [large]="false">
        Change
      </app-loading>
    </button>
  </div>
</form>
