<app-list [data]="trips">
  <div *ngFor="let trip of trips" class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">
        {{ trip.destination }}
        <span *ngIf="trip.days_left"
          class="badge float-right"
          [class]="trip.days_left > 3 ? 'badge-info' : 'badge-danger'">
          {{ trip.days_left }} days left
        </span>
      </h4>
      <h5 class="card-subtitle text-muted">{{ trip.start_date | date }} - {{ trip.end_date | date }}</h5>
      <div *ngIf="trip.comment">
        <hr>
        <p class="card-text text-muted">({{ trip.comment }})</p>
      </div>
    </div>
  </div>
</app-list>
