<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Email:
      <input type="email" class="form-control" formControlName="email" required appAutoFocus>
    </label>
  </div>
  <div class="form-group">
    <label>
      Password:
      <input type="password" class="form-control" formControlName="password" required>
    </label>
  </div>
  <div *ngIf="errors.length" class="alert alert-danger">
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  <div class="form-group">
    <button [disabled]="shouldDisable" class="btn btn-block btn-outline-dark">
      <app-loading [loading]="loading" [large]="false">
        Login
      </app-loading>
    </button>
  </div>
</form>
