<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Destination:
      <input type="text" [class]="getClass('destination')" formControlName="destination" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Start date:
      <input type="date" [class]="getClass('start_date')" formControlName="start_date" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      End date:
      <input type="date" [class]="getClass('end_date')" formControlName="end_date" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Comment:
      <input type="text" [class]="getClass('comment')" formControlName="comment">
    </label>
  </div>
  <div *ngIf="errors.length" class="alert alert-danger">
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  <div class="form-group">
    <button [disabled]="shouldDisable" class="btn btn-block btn-dark">
      <app-loading [loading]="loading" [large]="false">
        Create
      </app-loading>
    </button>
  </div>
</form>
